{% extends "base.html" %}

{% block title %}Flight School Manager{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Home</h1>
    <h2>Flight Instruction</h2>
    <p><a href="/add/flight">Add New Flight</a></p>
    <p><a href="/view/flights">View/Edit Flights</a></p>
    <p><a href="/add/checkride">Add New Checkride</a></p>
    <p><a href="/view/checkrides">View/Edit Checkrides</a></p>
    <h2>Reporting</h2>
    <p>Pass/Fail Rates</p>
    <h2>Administration</h2>
    <p><a href="/add/student">Add New Student</a></p>
    <p><a href="/view/students">View/Edit Students</a></p>
    <p><a href="/add/instructor">Add New Instructor</a></p>
    <p><a href="/view/instructors">View/Edit Instructors</a></p>
    <p><a href="/add/lesson">Add New Flight Lesson</a></p>
    <p><a href="/view/lessons">View/Edit Flight Lessons</a></p>
    <!--<p><a href="/add/skill">Add New Skill</a></p>
    <p><a href="/view/skills">View/Edit Skills</a></p>-->
</div>
{% endblock %}
