{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flight School Manager - View Checkrides{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Checkrides</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>
            Date
        </th>
        <th>
            Student
        </th>
        <th>
            Instructor
        </th>
        <th>
            Pass/Fail
        </th>
        </thead>
        <tbody>
        {%  for checkride in checkrides %}
        <tr>
            <td>{{ checkride.date }}</td>
            <td>{{ checkride.student.last_name }}, {{ checkride.student.first_name }}</td>
            <td>{{ checkride.instructor.last_name }}, {{  checkride.instructor.first_name }}</td>
            <td>{% if checkride.success == True %}Pass{% else %}Fail{% endif %}</td>
            <td><a href="/view/checkride/{{ checkride.id }}">view/edit details</a></td>
        </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>
{{ macros.pagination_widget(pagination, '.view_checkrides') }}
{% endblock %}