{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flight School Manager - View Aircraft{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Aircraft</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>
            Tail Number
        </th>
        <th>
            Actions
        </th>
        </thead>
        <tbody>
        {%  for plane in aircraft %}
        <tr>
            <td>{{ plane.tail_number }}</td>
            <td><a href="/view/aircraft/{{ plane.id }}">view/edit details</a> | view flights</td>
        </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>
{{ macros.pagination_widget(pagination, '.view_all_aircraft') }}
{% endblock %}
